<div class="col-md-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"><%= dado.titulo.upcase %></h4>
		</div>
		<div class="panel-body">
			<h2><%=image_tag dado.foto.thumb.to_s %></h2>
			<h6> <%= t(:reward) %>: <%= dado.recompensa%></h6>
			<h6> <%= t(:description) %>: <%= truncate(dado.descricao, length: 30) %></h6>
			<%= link_to(t(:seeMore), dado, {class: "btn btn-danger"}) %>
		</div>
	</div>
</div>
