<%= form_with(model: dado, local: true, html: {class: "form-horizontal"}) do |form| %>
<% if dado.errors.any? %>
<div id="error_explanation">
  <h2> <%= t(:errorCreating) %> </h2>

  <ul>
    <% dado.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="panel-body" >
  <div class="form-group">
    <%= form.label :titulo, t(:title), class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= form.text_field :titulo %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :recompensa, t(:reward), class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= form.text_field :recompensa %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :foto, t(:photo), class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
     <%= form.file_field :foto %>
   </div>
 </div>

 <div class="form-group">
  <%= form.label :descricao, t(:description), class: "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= form.text_area :descricao %>
  </div>
</div>

<div class="form-group">
 <%= form.label :tipo, t(:type), class: "col-lg-2 control-label" %>
 <div class="col-lg-10">
  <div class="radio">
    <%= form.label :tipo do %>
    <%= form.radio_button :tipo, 'achado', checked: false %>
    <%= t(:achado) %>
    <% end %>
  </div>
  <div class="radio">
    <%= form.label :tipo do %>
    <%= form.radio_button :tipo, 'perdido', checked: false %>
    <%= t(:perdido) %>
    <% end %>
  </div>
</div>
</div>

<div class="form-group">
  <%= form.label :dataocorrido, t(:dateOcurred), class: "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= form.date_select :dataocorrido, {}, {class: "form-control col-md-1", style: 'width: 20%; margin-right: 5px;'} %>
  </div>
</div>



<div class="form-group">
  <div class="col-lg-10">
    <br>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-10 col-lg-offset-2">
    <% if @dado.persisted? %>
    <%= form.submit(t(:edit), class: 'btn btn-danger') %>

    <% else %>
    <%= form.submit(t(:create), class: 'btn btn-danger') %>

    <% end %>
    <%= link_to(t(:back), dados_path, class: "btn btn-success") %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-10">
    <br>
  </div>
</div>
</div>
<% end %>
