<p id="notice"><%= notice %></p>

<h1>Dados</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Foto</th>
      <th>Descricao</th>
      <th>Recompensa</th>
      <th>Tipo</th>
      <th>Dataocorrido</th>
      <th>Pessoa</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dados.each do |dado| %>
      <tr>
        <td><%= dado.titulo %></td>
        <td><%= dado.foto %></td>
        <td><%= dado.descricao %></td>
        <td><%= dado.recompensa %></td>
        <td><%= dado.tipo %></td>
        <td><%= dado.dataocorrido %></td>
        <td><%= dado.pessoa %></td>
        <td><%= dado.status %></td>
        <td><%= link_to 'Show', dado %></td>
        <td><%= link_to 'Edit', edit_dado_path(dado) %></td>
        <td><%= link_to 'Destroy', dado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dado', new_dado_path %>
