<p id="notice"><%= notice %></p>

<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"><%= @dado.titulo.upcase %></h4>
		</div>
		<div class="panel-body">
			<h2 class="text-center">
				<%= link_to(@dado.foto.to_s, target: :_blank) do |l| %>
				<%=image_tag @dado.foto.thumb.to_s %>
				<% end %>
			</h2>
			<h6> <%= t(:reward) %>: <%= @dado.recompensa%></h6>
			<h6> <%= t(:description) %>: <%= @dado.descricao %></h6>
			<h6> <%= t(:type) %>: <%= t(@dado.tipo) %></h6>
			<h6> <%= t(:dateOcurred) %>: <%= @dado.dataocorrido %></h6>
			<h6> <%= t(:applicant) %>: <%= @dado.pessoa %></h6>
			<h6> <%= t(:stat) %>: <%= t(@dado.status_text) %></h6>
		</div>
		<div class="panel-footer text-center"><%= link_to( t(:edit), edit_dado_path(@dado), {class: "btn btn-danger"}) %> 
			<%= link_to( t(:back), dados_path, {class: "btn btn-success"}) %>
		</div>
	</div>
</div>


